
#timerText {
    -fx-font-family: lmroman12-regular;
    -fx-font-size: 80px;
    -fx-fill: linear-gradient(#4cd5f5, #207abd);
    -fx-effect: dropshadow(gaussian, rgba(76, 233, 245, 0.5), 15, 0, 2, -2);
}

.tool-bar {
    -fx-background-image: url("/resources/images/space.jpg");
    -fx-background-size: 100% 100%;
}

.toolbar-button {
    -fx-background-color: #a6b5c9,
    linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
    linear-gradient(#004450 0%, #004450 5%, #02272d 50%, #02272d 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 5, 5, 4;
    -fx-padding: 7 30 7 30;
    -fx-font-family: lmroman12-regular;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.toolbar-button:pressed {
    -fx-background-color: #a6b5c9,
    linear-gradient(#375074 0%, #3e5577 20%, #303842 100%),
    linear-gradient(#02272d 0%, #02272d 5%, #004450 50%, #004450 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 5, 5, 4;
    -fx-padding: 7 30 7 30;
    -fx-font-family: lmroman12-regular;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 20, 0, 0, 0);
}

.black-background {
    -fx-background-color: black;
}

.panel-activated {
    -fx-background-color: #004450;
    -fx-background-radius: 3;
}

.panel-deactivated {
    -fx-background-color: #02272d;
    -fx-background-radius: 3;
}