.root {
    -fx-background-image: url("/images/space.jpg");
    -fx-background-size: 100% 100%;
}

#timerDisplayText {
    -fx-font-family: lmroman12-regular;
    -fx-font-size: 80px;
    -fx-fill: linear-gradient(#4cd5f5, #207abd);
    -fx-effect: dropshadow(gaussian, rgba(76, 233, 245, 0.5), 15, 0, 2, -2);
}

.tool-bar {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.toolbar-button {
    -fx-background-color: #a6b5c9,
    linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
    linear-gradient(#004450 0%, #004450 5%, #02272d 50%, #02272d 51%, #4a6c9b 100%);
    -fx-background-radius: 5, 5, 4;
    -fx-font-family: lmroman12-regular;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(76, 233, 245, 0.5), 15, 0, 2, -2);
}

.toolbar-button:pressed {
    -fx-background-color: #a6b5c9,
    linear-gradient(#375074 0%, #3e5577 20%, #303842 100%),
    linear-gradient(#02272d 0%, #02272d 5%, #004450 50%, #004450 51%, #4a6c9b 100%);
    -fx-background-radius: 5, 5, 4;
    -fx-font-family: lmroman12-regular;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(76, 233, 245, 0.5), 15, 0, 2, -2);
}

.panel-activated {
    -fx-background-color: rgba(0, 68, 80, 0.5);
    -fx-background-radius: 5, 5, 4;
    -fx-border-radius: 5, 5, 4;
    -fx-border-color: rgba(255, 255, 255, 0.25);
}

.panel-deactivated {
    -fx-background-color: rgba(2, 39, 45, 0.25);
    -fx-background-radius: 5, 5, 4;
    -fx-border-radius: 5, 5, 4;
    -fx-border-color: rgba(0, 0, 0, 0.25);
}

.choice-box .context-menu {
    -fx-background-color: #a6b5c9,
    linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
    linear-gradient(#004450 0%, #004450 5%, #02272d 50%, #02272d 51%, #4a6c9b 100%);
}

.choice-box .menu-item:focused {
    -fx-background-color: rgba(0, 163, 175, 0.5);
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: white;
}

.choice-box {
    -fx-font-family: lmroman12-regular;
    -fx-background-color: #a6b5c9,
    linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
    linear-gradient(#004450 0%, #004450 5%, #02272d 50%, #02272d 51%, #4a6c9b 100%);
    -fx-mark-color: white;
    -fx-effect: dropshadow(gaussian, rgba(76, 233, 245, 0.5), 15, 0, 2, -2);
}

.choice-box > .label {
    -fx-text-fill: white;
}

.text-field {
    -fx-font-family: lmroman12-regular;
    -fx-font-size: 15px;
    -fx-background-color: rgba(0, 0, 0, 0.25);
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-border-color: #004450;
    -fx-border-radius: 5, 5, 4;
    -fx-effect: dropshadow(gaussian, rgba(76, 233, 245, 0.5), 15, 0, 2, -2);
}

.text-field:focused {
    -fx-font-family: lmroman12-regular;
    -fx-font-size: 15px;
    -fx-border-radius: 5, 5, 4;
    -fx-effect: dropshadow(gaussian, rgba(76, 233, 245, 0.5), 15, 0, 2, -2);
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-border-color: white;
    -fx-fill: white;
    -fx-text-fill: white;
}